body {
    background-color : green;
    }
    .bg-box {
        max-width: 1528px;
    height: 742px;
    box-shadow : 0 0 20px rgb(0, 0, 0, 0.3);
    background-image : url("../img/pole-zelen-trava-dom-derevya.jpg"), url("../img/lamp-3419.png"), url("../img/green-trawa.png"), url("../img/ponch1k.png"), url("../img/kartka_jez.webp");
    background-position: center, top, bottom, right 1px, left 1px;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 450px, 40px, 300px, 100px, 100px;
}
